 #container-g {
   background: #f1f1f1;
   color: #776E65;
   font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
   font-size: 18px;
 }
 .err-mess{
  background: #f1f1f1;
  color: rgb(95, 88, 80);
 }
 .err-mess {
   h1 {
     font-size: 150px;
     text-align: center;
     margin: auto;
   }
 }