
.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  max-width: 260px;
  margin-top: 5px;
}
.container {
  flex-wrap:  wrap ;
}
.search-form {
  width: 90%;
}
.unavailable{
  color: #fb4848;
}