<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [(mode)]="over" [(opened)]="opened" class="bottom-to-top">
    <div class="my-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="with-bg"></div>
      <div>
        <a>
          <!-- <img class="circle" src="./assets/images/profile.jpg" width="100"> -->
        </a>
      </div>
    </div>
    <div style="background-color: #3e50b5 !important;" class="mt-2 py-3 text-white" fxLayout="column" fxLayoutAlign="center center"
      fxLayoutGap="7px">
      <div fxShow.lt-md="true" fxShow.gt-sm="false">
        <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
        <a mat-button routerLink="/products" routerLinkActive="active"><span class="fa fa-shopping-cart  fa-lg"></span> Products</a>      
      </div>
      <div>
        <span class="lead">Productos</span>

      </div>
      <div>

        <span>Baratón</span>

      </div>
    </div>
    <div class="mt-3">

      <mat-accordion multi="false" [displayMode]="displayMode">
        <mat-expansion-panel *ngFor="let category of categories" class="no-shadow">
          <mat-expansion-panel-header class="panel1" fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
            <mat-panel-title>
              {{category.name}}
            </mat-panel-title>
            <mat-panel-description>
              <button mat-button color="basic" (click)="goCategori(category,0)"><mat-icon>shopping_cart</mat-icon></button>
            </mat-panel-description>
          </mat-expansion-panel-header>




          <mat-nav-list class="ml-0" dense>


            <!-- <span *ngIf="category.sublevels && category.sublevels.length > 0">
                 <button mat-raised-button color="primary" [matMenuTriggerFor]="appMenu.childMenu">
                  {{category.name}}
                  <mat-icon>expand_more</mat-icon>
                </button>
                <app-menu-item #appMenu  [items]="category.sublevels"></app-menu-item>
              </span> -->



            <mat-accordion multi="true" [displayMode]="displayMode">
              <mat-expansion-panel *ngFor="let category2 of category.sublevels" class="no-shadow">
                <mat-expansion-panel-header class="panel-c1" fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
                  <mat-panel-title>
                    {{category2.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <button mat-button color="basic" (click)="goCategori(category2,1)"><mat-icon>shopping_cart</mat-icon></button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-nav-list class="ml-0" dense>



                  <div *ngIf="category2.sublevels">
                    <mat-accordion multi="false" [displayMode]="displayMode">
                      <mat-expansion-panel *ngFor="let category3 of category2.sublevels" class="no-shadow">
                        <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
                          <mat-panel-title>
                            {{category3.name}}
                          </mat-panel-title>
                          <mat-panel-description>
                            <button mat-button color="basic" (click)="goCategori(category3,2)"><mat-icon>shopping_cart</mat-icon></button>
                          </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-nav-list class="ml-0" dense>


                          <button mat-button color="accent" *ngFor="let item of category3.children">
                            {{item.name}}
                          </button>
                        </mat-nav-list>
                      </mat-expansion-panel>

                    </mat-accordion>
                  </div>

                  <button mat-button color="primary" *ngFor="let item of category2.children">
                    {{item.name}}
                  </button>

                </mat-nav-list>
              </mat-expansion-panel>

            </mat-accordion>

            <button mat-button color="accent" *ngFor="let item of category.children">
              {{item.name}}
            </button>

            <!-- <mat-list-item *ngFor="let child of category.sublevels">
              <button mat-button [matMenuTriggerFor]="main_menu">{{child.name}}</button>
              <mat-menu #main_menu="matMenu">
                <button class="btn-sub-menu" *ngFor="let child2 of child.sublevels" >{{ child2.name }}</button>
              </mat-menu>
            </mat-list-item> -->

          </mat-nav-list>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (openMenuEmitter)="sidenav.toggle()" [social]="social"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>